.div-block {
  background-color: #a88f67;
  text-align: center;
}

.image {
  text-align: center;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.navbar {
  background-color: #fff;
}

.navitem {
  height: 50px;
}

.navitem:hover, .navitem.active{
  border-bottom: 5px solid #d8c87d;
}

.navitem.social {
  float: right;
}

.navitem.social:hover {
  border-bottom-style: none;
}

.image-2 {
  width: 100%;
}

.image-3 {
  width: 100%;
}

.image-4 {
  width: 100%;
}

.image-5 {
  width: 100%;
}

.image-6 {
  width: 100%;
}

.image-7 {
  width: 100%;
}

.image-8 {
  width: 100%;
}

.image-9 {
  text-align: center;
}

.section {
  text-align: center;
}

.image-10 {
  width: 100%;
}

.image-11 {
  width: 100%;
}

.image-12 {
  width: 100%;
}